<template>
  <div id="app">
    <div class="container text-center">
      <h1>Add User to AWS DOCKER</h1>
      <form>
        <div class="form-group row formG">
          <label class="col-sm-2 col-form-label">Name</label>
          <div class="form-group row">
            
          <input class="form-control" v-model="name" type="name" placeholder="write your name">
          </div>
        </div>
         <div class="form-group row formG">
          <label class="col-sm-2 col-form-label">Email</label>
          <div class="form-group row">
            
          <input class="form-control" v-model="email" type="email" placeholder="write your email">
          </div>
        </div>
        <div class="form-group row formG">
          <label class="col-sm-2 col-form-label">Pass:</label>
          <div class="form-group row">
             
          <input class="form-control" v-model="password" type="password" placeholder="write your password">
          </div>
        </div>
      </form>
      
      
    <button :disabled="!checkAdd" v-if="!isUpdate" @click="add" class="btn btn-primary">
    Add to List User
    Testing AWS
      </button>
      <button v-if="isUpdate" @click="update" class="btn btn-info">Update </button>
      <hr>
      <table class="table">
        <thead class="bg">
          <td>Name</td>
          <td>Email</td>
          <td>Password</td>
          <td>Edit</td>
          <td>Delete</td>
        </thead>
        <tbody>
          <tr v-for="(item,index) in Arr" :key="index">
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.password}}</td>
            <td><button class="btn btn-secondary" @click="edit(index)">Edit</button></td>
            <td ><button @click="deleteBtn(index)" class="btn btn-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
export default {
data:()=>({
  errors:[],
  Arr: [],
  isUpdate:false,
  index:'',
   name: '',
  email: '',
  password: '',
 
}),
computed:{
  checkAdd(){
 var ero = false
     if(this.name != "" && this.email != "" && this.password != "" ){    
       ero = true   
    }

    return ero
  
  }
},
methods:{
  edit(index){
    this.isUpdate = true
    this.index = index
   this.name = this.Arr[this.index].name
   this.password = this.Arr[this.index].password
   this.email = this.Arr[this.index].email
  },
  update(){
    this.isUpdate = false
    this.Arr[this.index].name = this.name
    this.Arr[this.index].email = this.email
    this.Arr[this.index].password = this.password
  },
  add(){
 this.Arr.push({name:this.name,email:this.email,password:this.password})
    this.name= ""
    this.email = ""
    this.password=""
  },
  deleteBtn(index){
    Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
      this.Arr.splice(index,1)
    Swal.fire(
      'Deleted!',
      'Your file has been deleted.',
      'success'
    )
  }
})
   // if(confirm('are you sure')== true){
     // this.Arr.splice(index,1)
    //} 
  }
  
}
}
</script>



<style  scoped>
  .formG{
    margin-left: 50px;;
  }
</style>
